.imag{

    margin-left: 260px;
    width: 62vw;
    height: 70vh;
    margin-bottom: 8px;
}

.imag1{

float: right;
margin-right: 64px;
height: 82vh;
width: 26vw;
}

.font{

    color: aliceblue;
}

.special{

    color: black;
}