
 body{
    font-family: montserrat;
    overflow: auto;
  }
 
  .logo{
    color: white;
    font-size: 42px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:right;
    overflow: hidden;
    margin-left: 160px;
    display: inline-block;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
  }
 
  .bckg {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    background-color: #0082e6;
  }
  
  .navleft {
    float: left;
    
  }
  
  li a {
    margin-top: 8px;
    display: inline-block;
    color: white;
   font-size:24px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  .active{
  background-color: #1b9bff;
  color: white;
  }








