
 body{
    font-family: montserrat;
    overflow: auto;
  }
 
  .logo{
    color: white;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:right;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 6px 26px;
    text-decoration: none;
  }
 
  .bckg {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 12px;
    overflow: hidden;
    background-color: #0082e6;
    position: fixed;
    top: 0;
    left: 0;

  }
  
  .navleft {
    float: left;
  }
  
.link{

  margin-top: 8px;
  display: inline-block;
  color: white;
 font-size:24px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;

}









