form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed;
    height: 320px;
    width: 420px;
    cursor: pointer;
    border-radius: 5px;
}

.Upload-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: antiquewhite;
    width: 25vw;
    height: 4vh;

}

.upload-content{

    display: flex;
    align-items: center;

}


.font{

    font-size: 22px;
}